.c-autocomplete {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.c-autocomplete__item {
  padding: spacing(1);
  background-color: $color-white;
  cursor: pointer;
  &:hover {
    color: $color-white;
    background-color: $color-blue;
  }
}

.c-autocomplete__item--highlighted {
  color: $color-white;
  background-color: $color-blue;
}