.p-football-tests {
  margin: 0 auto;
  padding: spacing(5);
}

.p-football-tests__header {
  font-size: 24px;
  text-align: center;
  margin-bottom: spacing(3);
}

.p-football-tests__add-test {
  cursor: pointer;
}

.p-football-tests__reset-filters {
  margin-top: spacing(8);
  cursor: pointer;
}

.p-football-tests__empty-state {
  text-align: center;
}

.p-football-tests__no-results-header {
  margin-top: spacing(4);
  font-size: 24px;
  text-align: center;
}