.c-main-table__container {
  margin: 0 auto;
  padding: spacing(5);
}

.c-football-tests-table__header {
  font-size: 24px;
  text-align: center;
  margin-bottom: spacing(3);
}

.c-main-table__header--no-results {
  margin-top: spacing(6);
}

.c-football-tests-table__headers {
  th {
    text-align: center;
  }
}

.c-football-tests-table__item {
  cursor: pointer;
  td {
    text-align: center;
  }
}

.c-football-tests-table__cta-button  {
  background: none;
  border: none;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

.c-football-tests-table__filters {
  display: flex;
  justify-content: center;
  margin-bottom: spacing(2);
}
