.c-football-tests-table-filters__container  {
  display: flex;
  justify-content: center;
}

.c-football-tests-table__select-filters {
  margin-right: spacing(1);
}

.c-football-tests-table-filters__form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: spacing(3);
  margin-bottom: spacing(3);

  .c-form-field-wrapper  {
    margin-right: spacing(2);
    &:last-of-type {
      margin-right: 0;
    }
  }

}

.c-football-tests-table-filters__autocomplete {
  display: flex;
  width: 100%;
}

.c-football-tests-table-filters__autocomplete--city {
  margin-right: spacing(1);
}