.c-form-field-wrapper {
    width: 100%;
}

.c-form-field--select {
    cursor: pointer;
}

.c-form-field {
    height: 36px;
}

.c-form-field-wrapper {
    .invalid-field {
        border-color: $color-red;
    }
    .validation-error {
        margin-left: spacing(1) / 2;
        color: $color-red;
        font-size: 12px;
    }
}
