.ReactModal__Overlay--after-open {
  padding-top: 3%;
}

.c-modal {
  border: 1px solid $color-lightGrey;
  background: $color-white;
  overflow: hidden;
  border-radius: 4px;
  outline: none;
  width: 500px;
  margin: 0 auto;
}

.c-modal--big {
  width: 800px;
  height: auto;
}

.c-modal-confirm__description {
  font-size: 20px;
  text-align: center;
  margin-top: spacing(6);
  margin-bottom: spacing(6);
}

.c-modal__title-with-close-button {
  position: relative;
}

.c-modal__title {
  padding: spacing(3);
  background-color: $color-lightGrey;
  margin-bottom: 0;
}

.c-modal__close-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right:spacing(3);
  top: spacing(3);
  &:focus {
    outline: 0;
  }
}

.c-modal__content {
  padding:  {
    right:spacing(3);
    left:spacing(3);
  }

  margin-bottom: spacing(2);
}

.c-modal__footer {
  background-color: $color-lightGrey;
  padding-top: spacing(3);
  padding-bottom: spacing(3);
  width: 100%;
}

.c-modal__buttons {
  text-align: center;
}

.c-modal__buttons__close {
  margin-right: spacing(1);
}