@(booksList: List[Book])

    @main("Books List") {
        <div class="container">
            <div class="row">
                @helper.form(action = routes.BooksController.findBookByTitle()) {
                    <h3>Find book By title</h3>
                    <div class="input-group search-main">
                        <input type="text" name="title" id="findInput" class="form-control" placeholder="Search Book By Title...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Search!</button>
                        </span>
                    </div>
                }
                <h2>Books list</h2>
                <div class="list-group row">
                @for(book <- booksList) {
                    <a href="@book.getId" class="list-group-item">
                        <h4 class="list-group-item-heading">@book.getTitle</h4>
                        <p class="list-group-item-text">@book.getAuthor</p>
                    </a>
                }
                </div>
            </div>
        </div>s

    }
