@(book: Book)(title: String)
@main("Book search by Title") {
    <div class="container">
        <div class="row">
            <div class="center-block">
                @if(book == null){
                    <h2>No book with title: @title</h2>
                } else{
                <h2>Book with title: @title</h2>
                <div class="list-group">
                    <a href="@routes.BooksController.bookView(book.getId)" class="list-group-item">
                        <h4 class="list-group-item-heading">@book.getTitle</h4>
                        <p class="list-group-item-text">@book.getAuthor</p>
                    </a>
                </div>
            </div>
        </div>
        }
    </div>
}
